// FONTS

$font: 'Raleway', sans-serif;

// COLORS

$white: #ffffff;
$black: #000000ce;
$cool-grey:	#327577;
$seafoam:	#19d3ca;

// MIXINS

@mixin display-grid($columns) {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: $columns;
  grid-template-areas:
  "header  header  header"
  "sidebar content content"
  "footer  footer  footer";
};

@mixin primary-background() {
  background: linear-gradient(to top, rgba(81, 117, 115, 0.75), rgba(0, 0, 0, 0.5)), url(https://www.nasa.gov/sites/default/files/thumbnails/image/iss061e098033_lrg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
}

@mixin heading-text($font-size, $font-style, $font-weight, $color) {
  font-family: $font;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  text-align: center;
  color: $color;
  margin: .5rem;
}

@mixin label-text($font-size, $font-weight, $color) {
  font-family: $font;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: center;
  margin: 1rem;
}

@mixin border($border-color, $border-radius) {
  border: .5px solid $border-color;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;

  @include round-corners($border-radius);
}

@mixin round-corners($border-radius) {
  border-radius: $border-radius;
}

@mixin transparency($color, $opacity) {
  @if $color == $black {
    background-color: rgba(0, 0, 0, $opacity);
  }
}