@import "variables";
@import "login-styles";
@import "traveler-dashboard-styles";
@import "media-queries";

* {
  text-align: center;
  margin: 0;
  font-family: $font;
}

.wrapper {
  @include display-grid(40% 60%);
  grid-gap: 10px;
  grid-template-areas:
  "header  header  header"
  "sidebar main main"
  "footer  footer  footer";
}

body {
  height: 100vh;
  width: 100vw;
  @include primary-background;
  @include border($seafoam, 1rem);
  justify-items: center;
  overflow: scroll;
}

header {
  grid-area: header;
  @include border($seafoam, 1rem);
  margin-right: 50px;

  @include transparency($black, .25);
}

footer {
  grid-area: footer;
  @include border($seafoam, 1rem);
  margin-right: 50px;

  @include transparency($black, .25);
}

main {
  max-height: 100vh;
  margin-right: 50px;
  overflow: scroll;

  @include border($seafoam, 1rem);
}

article {
  display: flex;
  flex-direction: column;

  @include transparency($black, .25);
  @include border($seafoam, 1rem);
}

img {
  align-self: center;
  width: 35rem;
  height: auto;
  margin: .65rem;

  @include round-corners(.45rem);
}

form {
  grid-area: sidebar;

  @include transparency($black, .25);
  @include border($seafoam, 1rem);
}

h1 {
  @include heading-text(4rem, normal, 700, $white);
  grid-area: header;
}

h2 {
  @include heading-text(1.85rem, normal, 600, $white);
  margin: 1.35rem;
}

h3 {
  @include heading-text(1.25rem, normal, 400, $white);
}

p {
  @include label-text(1.15rem, 350, $white);
}

label {
  @include label-text(1.35rem, 400, $white);
}

input {
  width: 10rem;
  height: 1.5rem;
  text-align: center;
  color: grey;
  margin: .75rem;
  
  @include round-corners(.45rem);
}

button {
  font-weight: 300;
  font-stretch: normal;
  font-size: 1rem;
  font-family: $font;
  color: $white;
  padding: .5rem;
  margin: 1rem;
  
  @include transparency($black, .75);
  @include border($seafoam, .5rem);
  
  cursor: crosshair;
  &:focus {
    background-color: $cool-grey;
  }
}








.hidden {
  display: none;
}